<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'
      rel='stylesheet' type='text/css'>

<div class="bubble" id="{{itemID}}">

  <!-- Toggle -->
  <div class="bubble__toggle">
    <p ng-click="toggle = toggle + 1; current = types[toggle % types.length]">
      {{current}} {{types.length > 1 ? '>' : ''}}
    </p>
  </div>

  <!-- Person -->
  <div class="bubble__element" ng-if="person" ng-show="current === 'Person'">
    <div class="bubble__photo" ng-style="{ 
      'width' : size,
      'height' : size,
      'border-radius' : size,
      'border-width' : 'calc({{size}} / 10)',
      'background-image' : 'url(' + person['schema:image'] + ')' }">
    </div>
    <div class="bubble__title" ng-style="{
      'font-size' : 'calc({{size}} / 10)',
      'bottom' : 'calc(- {{size}} / 10)' }">
      {{person["schema:givenName"]}} {{person["schema:familyName"]}}
    </div>
  </div>

  <!-- Place -->
  <div class="bubble__element" ng-if="place" ng-show="current === 'Place'">
    <div class="bubble__photo" ng-style="{
      'width' : size,
      'height' : size,
      'border-radius' : size,
      'border-width' : 'calc({{size}} / 10)',
      'background-image' : 'url(' + place['schema:image'] + ')' }">
    </div>
    <div class="bubble__title" ng-style="{
      'font-size' : 'calc({{size}} / 10)',
      'bottom' : 'calc(- {{size}} / 10)' }">
      {{place["schema:name"]}}
    </div>
  </div>

  <!-- Product -->
  <div class="bubble__element" ng-if="product" ng-show="current === 'Product'">
    <div class="bubble__photo" ng-style="{
      'width' : size,
      'height' : size,
      'border-radius' : size,
      'border-width' : 'calc({{size}} / 10)',
      'background-image' : 'url(' + product['schema:image'] + ')' }">
    </div>
    <div class="bubble__title" ng-style="{
      'font-size' : 'calc({{size}} / 10)',
      'bottom' : 'calc(- {{size}} / 10)' }">
      {{product["schema:name"]}}
    </div>
  </div>

</div>
