<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive API </title>
    <link rel="stylesheet" href="../../style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="../../js/response.js"></script>
  </head>
  <body ng-app="response">
    <div ng-controller="ApiCtrl" id="content">
      <header> <h1> Status: {{meta.message}} </h1> </header>
      <div ng-repeat="(id, device) in devices">
        <div class="device-header">
          <a ng-href="{{device.href}}"> {{id}} </a> &nbsp; | &nbsp;
          <a ng-href="{{device.url}}"> Metadata </a> 
        </div>
        <div class="device-decodings" ng-show="device.nearest">
          <table>
            <tr>
              <th> RSSI </th>
              <th> Device </th>
            </tr>
            <tr ng-repeat="(id, near) in device.nearest">
              <td> {{near.rssi}} </td>
              <td> {{near.device}} </td>
            </tr>
          </table>
        </div>
        <div class="device-footer"> &nbsp; </div>
      </div>
      <footer> <a ng-href="{{links.self.href}}"> {{links.self.href}} </a> </footer>
    </div>
  </body>
</html>
