<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive chickadee API </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Contextual associations store and API.">
    <link rel="stylesheet" href="../../style/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/bubble.css">
    <link rel="stylesheet" href="../../style/chickadee.css">
    <script type="text/javascript" src="../../js/angular.min.js"></script>
    <script type="text/javascript" src="../../js/angular-animate.min.js"></script>
    <script type="text/javascript" src="../../js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../../js/bubble.js"></script>
    <script type="text/javascript" src="../../js/cormorant.js"></script>
    <script type="text/javascript" src="../../js/cuttlefish.js"></script>
    <script type="text/javascript" src="../../js/chickadee.js"></script>
  </head>
  <body ng-app="response">
    <div ng-controller="ApiCtrl" id="content">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> Status: {{meta.message}} </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{pollingMessage}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href ng-click="updatePeriod(null)">Disable polling</a></li>
                <li role="menuitem"><a href ng-click="updatePeriod(2000)">Poll every 2 seconds</a></li>
                <li role="menuitem"><a href ng-click="updatePeriod(10000)">Poll every 10 seconds</a></li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{orderingMessage}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href ng-click="updateOrdering('+id')">Order by increasing ID</a></li>
                <li role="menuitem"><a href ng-click="updateOrdering('-id')">Order by decreasing ID</a></li>
                <li role="menuitem"><a href ng-click="updateOrdering('+rssi')">Order by increasing RSSI</a></li>
                <li role="menuitem"><a href ng-click="updateOrdering('-rssi')">Order by decreasing RSSI</a></li>
              </ul>
            </li>
            <li>
              <a href ng-click="expand = !expand">
                {{expand? 'Collapse all' : 'Expand all'}}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div ng-show="isEmpty()"> 
          <img src="../../images/chickadee-none.jpg" class="img-responsive center-block">
        </div>

        <!----- Transmitters ----->
        <uib-accordion ng-repeat="device in transmitters | orderBy: ordering">
          <div uib-accordion-group class="panel-default" is-open="expand">
            <uib-accordion-heading>
              <span class="identifier"> {{device.id}} <span class="caret"></span></span>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div ng-if="stories[device.url]">
                  <pre ng-show="showStory[device.id]">{{storyStrings[device.url]}}
</pre>
                  <div class="well well-lg bubble-container"
                       ng-hide="showStory[device.id]">
                    <bubble json="stories[device.url]" size="160px"
                            toggle="false"></bubble>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <table class="table table-hover" ng-show="device.nearest">
                  <tr>
                    <th> RSSI </th>
                    <th> Device </th>
                    <th> Directory </th>
                  </tr>
                  <tr ng-repeat="(id, near) in device.nearest">
                    <td> {{near.rssi}} </td>
                    <td> {{near.device}} </td>
                    <td>
                      {{associations[near.device] ?
                          displayDirectory(near.device) : ""}}
                      <button ng-hide="associations[near.device]"
                              ng-click="getAssociations(near.device)"
                              class="btn btn-default btn-xs">
                        Associations?
                      </button>
                    </td>
                  </tr>
                </table>
                <p class="text-center">
                  <button ng-mouseover="getAssociations(device.id)"
                          uib-popover-template="associationsTemplate"
                          type="button" class="btn btn-default">
                    {{device.id}} associations?
                  </button>
                </p>
                <hr width="50%" class="text-center" ng-show="device.url">
                <p class="text-center" ng-show="device.url">
                  <strong> Story Source: </strong>
                  <a ng-href="{{device.url}}" target="_blank">
                    {{device.url}}
                  </a>
                </p>
                <p class="text-center" ng-if="stories[device.url]">
                  <button type="button" class="btn btn-info"
                          ng-click="showStory[device.id] = !showStory[device.id]">
                    {{showStory[device.id] ? 'View Bubble' : 'View Story'}}
                  </button>
                </p>
              </div>
            </div>
          </div>
        </uib-accordion>

        <hr>

        <!----- Receivers ----->
        <uib-accordion ng-repeat="device in receivers">
          <div uib-accordion-group class="panel-default" is-open="expand">
            <uib-accordion-heading>
              <span class="identifier"> {{device.id}} <span class="caret"></span></span>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div ng-if="stories[device.url]">
                  <pre ng-show="showStory[device.id]">{{storyStrings[device.url]}}
</pre>
                  <div class="well well-lg bubble-container"
                       ng-hide="showStory[device.id]">
                    <bubble json="stories[device.url]" size="160px"
                            toggle="false"></bubble>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <p class="text-center">
                  <button ng-mouseover="getAssociations(device.id)"
                          uib-popover-template="associationsTemplate"
                          type="button" class="btn btn-default">
                    {{device.id}} associations?
                  </button>
                </p>
                <hr width="50%" class="text-center" ng-show="device.url">
                <p class="text-center" ng-show="device.url">
                  <strong> Story Source: </strong>
                  <a ng-href="{{device.url}}" target="_blank">
                    {{device.url}}
                  </a>
                </p>
                <p class="text-center" ng-if="stories[device.url]">
                  <button type="button" class="btn btn-info"
                          ng-click="showStory[device.id] = !showStory[device.id]">
                    {{showStory[device.id] ? 'View Bubble' : 'View Story'}}
                  </button>
                </p>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/chickadee"
           tooltip="Get the code on GitHub"
           tooltip-placement="left"> chickadee </a>
        &nbsp; | &nbsp;
        <a href="http://www.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2015-2017
        </a>
      </footer>
    </div>
    <script type="text/ng-template" id="associations.html">
      <table class="table table-condensed">
        <thead><tr><th colspan="2" > {{id}} </th></tr></thead>
        <tbody>
          <tr ng-repeat="(property, value) in associations[id]">
            <th> {{property}} </th>
            <td> {{property === 'url' ? '(see Source)' : value}} </td>
          </tr>
        </tbody>
      </table>
    </script>
  </body>
</html>
